* {
	padding: 0;
	margin: 0;
	font-family:arial;
	font-size: 11pt;
}

#NoiDung {
	width: 958px;
	padding: 0;
	margin: 0 auto;
}

#DauTrang {
	width: 958px;
	height: 162px;
	background: url(../images/banner.jpg);
}

#GiuaTrang {
	width: 958px;
}

#BenTrai {
	width: 200px;
	float: left;
}

#BenTrai h2{
	height: 30px;
	margin: 0;
	padding: 6px 0 0 0;
	font-size: 16pt;
	color: #272360;
}

#BenTrai ul{
	margin: 0;
	padding: 0px 0px 10px 0px;
	list-style: none;
}

#BenTrai ul li{
	margin: 0;
	padding-left: 18px;
	background: url(../images/li.gif) no-repeat;
	line-height: 150%;
}

#BenTrai a:link{
	text-decoration:none;
	color: #0065ff;
}

#BenTrai a:hover{
	text-decoration: none;
	color:  #fdad00;
}

#BenPhai {
	width: 750px;
	float: left;
}

#BenPhai h2 {
	margin: 0;
	padding: 6px 0 6px 0;
	font-size: /* Dựa theo yêu cầu của đề bài */;
	color: #da1c06;
}

#BenPhai p {
	padding-bottom: 6px;
	text-align: justify;
}

#CuoiTrang {
	height: 40px;
	background: #1378c8;
	text-align: center;
	padding-top: 20px;
	clear: both;
	
}
.BanQuyen{
	color:white;
}